# Importing packages

In [4]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('final_df.csv')

/Users/alexandrabruno/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (3,4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head()

,Unnamed: 0,YEAR,raceeth,q6orig,q7orig,record,orig_rec,How old are you,What is your sex,In what grade are you,...,Gun carrying,Injurious physical fighting,Cigarette from store,Smoking cessation,5 or more drinks in a row,Usual use of marijuana,NA- All tobacco product cessation,NA-Texting and driving,qnowt,qnobese
0,0,2019.0,7.0,504,121,1.0,NaN,5.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2019.0,8.0,503,119,2.0,NaN,4.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2019.0,8.0,506,95,3.0,NaN,4.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2019.0,5.0,510,152,4.0,NaN,4.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2019.0,6.0,510,130,5.0,NaN,5.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.shape

(73075, 127)

In [7]:
list(df.columns)

['Unnamed: 0',
 'YEAR',
 'raceeth',
 'q6orig',
 'q7orig',
 'record',
 'orig_rec',
 'How old are you',
 'What is your sex',
 'In what grade are you',
 'Are you Hispanic/Latino',
 'What is your race',
 'How tall are you',
 'How much do you weigh',
 'Seat belt use',
 'Riding with a drinking driver',
 'Drinking and driving',
 'Texting and driving',
 'Weapon carrying',
 'Weapon carrying at school',
 'Gun carrying past 12 mos',
 'Safety concerns at school',
 'Threatened at school',
 'Physical fighting',
 'Physical fighting at school',
 'Forced sexual intercourse',
 'Sexual violence',
 'Sexual dating violence',
 'Physical dating violence',
 'Bullying at school',
 'Electronic bullying',
 'Sad or hopeless',
 'Considered suicide',
 'Made a suicide plan',
 'Attempted suicide',
 'Injurious suicide attempt',
 'Ever cigarette use',
 'Initiation of cigarette smoking',
 'Current cigarette use',
 'Smoked > 10 cigarettes',
 'Electronic vapor product use',
 'Current electronic vapor use',
 'EVP from store',
 'Current smokeless tobacco use',
 'Current cigar use',
 'All tobacco product cessation',
 'Initiation of alcohol use',
 'Current alcohol use',
 'Current binge drinking',
 'Largest number of drinks',
 'Source of alcohol',
 'Ever marijuana use',
 'Initiation of marijuana use',
 'Current marijuana use',
 'Ever synthetic marijuana use',
 'Ever prescription pain medicine use',
 'Ever cocaine use',
 'Ever inhalant use',
 'Ever heroin use',
 'Ever methamphetamine use',
 'Ever ecstasy use',
 'Ever steroid use',
 'Illegal injected drug use',
 'Illegal drugs at school',
 'Ever sexual intercourse',
 'Sex before 13 years',
 'Multiple sex partners',
 'Current sexual activity',
 'Alcohol/drugs and sex',
 'Condom use',
 'Birth control pill use',
 'Sex of sexual contacts',
 'Sexual identity',
 'Perception of weight',
 'Weight loss',
 'Fruit juice drinking',
 'Fruit eating',
 'Green salad eating',
 'Potato eating',
 'Carrot eating',
 'Other vegetable eating',
 'No soda drinking',
 'No milk drinking',
 'Breakfast eating',
 'Physical activity >= 5 days',
 'Television watching',
 'Computer use',
 'PE attendance',
 'Sports team participation',
 'Concussion',
 'HIV testing',
 'STD testing',
 'Oral health care',
 'Asthma',
 'Sleep',
 'Grades in school',
 'Current prescription pain medicine use',
 'Ever used LSD',
 'Sports drinks',
 'Plain water',
 'Food allergies',
 'Muscle strengthening',
 'Indoor tanning',
 'Sunscreen',
 'Difficulty concentrating',
 'How well speak English',
 'BMIPCT',
 'weight',
 'stratum',
 'psu',
 'Smoked>10 cigarettes',
 'Current electronic vapor product use',
 'Ever alcohol use',
 'Physical activity>=5 days',
 'Drive when using marijuana',
 'Sunburn',
 'Bicycle helmet use',
 'Gun carrying',
 'Injurious physical fighting',
 'Cigarette from store',
 'Smoking cessation',
 '5 or more drinks in a row',
 'Usual use of marijuana',
 'NA- All tobacco product cessation',
 'NA-Texting and driving',
 'qnowt',
 'qnobese']

In [8]:
df['How old are you'].value_counts()

5.0    18613
6.0    17940
4.0    17444
7.0    10145
3.0     8234
1.0      232
2.0      108
Name: How old are you, dtype: int64

In [9]:
df['Riding with a drinking driver'].value_counts()

1.0    56621
2.0     5838
3.0     5181
5.0     2627
4.0     1273
Name: Riding with a drinking driver, dtype: int64

In [14]:
cols = list(df.columns)

In [18]:
df['What is your sex'].value_counts()

1.0    36497
2.0    36108
Name: What is your sex, dtype: int64

In [19]:
df['Seat belt use'].value_counts()

5.0    36825
4.0    17143
3.0     6863
2.0     3143
1.0     1618
Name: Seat belt use, dtype: int64

### A for loop I tried to do

In [21]:
# ask justin how to do this right
cols_with_null = []

for col in df[cols]:
    if(pd.isnull(df[col])):
        cols_with_null.append(col)

cols_with_null

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().